.App {
  text-align: center;
  background-color:black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dropdown-button {
  background-color: rgba(240, 241, 217, 0.2);
  color: white; 
  padding: 15px 32px; 
  font-size: 16px; 
  border: none; 
  cursor: pointer; 
  border-radius: 20px;
  margin: 20px;
}

.dropdown-button:hover {
  background-color: #333333; 
  color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdown-content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #023e8a !important;
}

.dropdown-content ul li {
  color: #023e8a !important;
  padding: 8px 0; 
}