.about-background{
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center; /* Initially center for smaller screens */
  align-items: center;
  padding: 2rem;
  font-size: 1rem;
  position: relative;
  z-index: 100;
  text-align: center;

}
.about-container {
 font-size: 1.2rem;
  line-height: 1.6;
  padding: 1.5rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  max-width: 900px;
  text-align: center;
  transition: transform 0.3s ease;
}

.about-heading {
  font-weight: bold;
  margin: 20px;
  font-size: 40px;
  text-decoration: underline;
  text-underline-offset: 8px;
  text-align: center;
  padding-top: 50px;
}

.about-content .title {
  color:white; 
  font-size: 25px;
  margin-bottom: 10px;
}


.title-content-experience{
  font-size: 18px;
  font-weight: bold;
}

#estimate-button{
  background-color: rgba(240, 241, 217, 0.1);
  color: white; 
  padding: 15px 32px; 
  font-size: 16px; 
  border: none; 
  cursor: pointer; 
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  margin: 20px 0;
}

#estimate-button:hover {
  background-color: #333333; 
}

@media (max-width: 1024px) {
  .title {
    font-size: 2em;
  }

  .content, .experience {
    font-size: 1em;
  }
}

@media (max-width: 768px) {
  .about-background {
    padding: 30px 15px;
  }

  .about-content {
    padding: 15px;
  }

  .title {
    font-size: 1.8em;
  }

  .content, .experience {
    font-size: 0.9em;
  }
}

@media (max-width: 375px) {
  .about-background {
    padding: 20px 10px;
  }

  .about-content {
    padding: 10px;
  }

  .title {
    font-size: 1.5em;
  }

  .content, .experience {
    font-size: 0.8em;
  }
}