.contact-background {
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center; /* Initially center for smaller screens */
  align-items: center;
  padding: 2rem;
  font-size: 1rem;
  position: relative;
  z-index: 100;
  text-align: center;
  color: white;
  height: 100vh;
  }
  .contact-container{
    font-size: 1.2rem;
    line-height: 1.6;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    max-width: 900px;
    text-align: center;
    transition: transform 0.3s ease;
    margin-top: 15px;
  }