.home-background {
  background-position: center;
  background-size: cover; 
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  opacity: 100%;
}

.home-container{
  position: relative;
  z-index: 2;
  text-align: center;
  padding: calc(70px + 20px) 20px 20px; 
  padding: 20px;
  width: 80%;
  font-size: 1.5rem;
}

.main-tittle {
  margin-top: 5rem;
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 1rem;
}

#estimate-button{
  background-color: rgba(240, 241, 217, 0.1);
  color: white; 
  padding: 15px 32px; 
  font-size: 16px; 
  border: none; 
  cursor: pointer; 
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  margin: 20px 0;
}

#estimate-button:hover {
  background-color: #333333; 
}

.description {
  padding: 20px;
  border-radius: 10px;
  text-shadow: none;
}
.home-title {
  font-weight: bold;
  font-size: 1.5rem;
}
.home-content {
  font-size: 1.2rem;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  max-width: 100%; /* Responsive width */
  transition: transform 0.3s ease;
  line-height: 1.6;

}
/* Responsive Design */
@media (max-width: 768px) {
  .home-page-header {
    font-size: 36px;
  }

  #estimate-button {
    padding: 12px 24px; 
    font-size: 14px;
  }

  .handyman-description {
    padding: 15px;
  }

  .handyman-description .title {
    font-size: 18px;
  }

  .home-content {
    padding: calc(70px + 20px) 20px 20px;
  }
}
