/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic styles for the navbar */
.navbar {
  background-color: #D2C9B9;
  height: 90px;
  top: 24px;
  display: flex;
  justify-content: center; /* Centers the links horizontally */
  align-items: center; /* Centers the links vertically */
  z-index: 999; /* Sits above other elements */
  font-size: 18px;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  gap: 20px; /* Space between links */
  list-style-type: none;
  padding: 1px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-size: 30px;
}

/* Hover effect for nav links */
.nav-links a:hover {
  color:#1D73C1;
}

/* Nav links styles */
.nav-links {
  list-style: none;
  display: flex;
  margin: 1px;
  padding: 0;
  justify-content: center;
  align-items: center;
}

/* Individual nav link styles */
.nav-links li a {
  color: white;
  text-decoration: none;
  padding: 8px;
}
/* Dropdown styles specific to navbar */
.navbar .dropdown {
  position: relative;
  display: inline-block;
}

.navbar .dropdown-content {
  display: none;
  position: absolute;
  background-color: #D2C9B9;
  z-index: 1;
  border-radius: 4px;
  top: 100%; /* Dropdown appears below the button */
  left: 0;
  border-radius: 20px;
}
.navbar .dropdown:hover .dropdown-content {
    display: block;
  }

.navbar-dropdown .dropdown-content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.dropdown-content li {
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  color: #333333;
}
.dropdown-content li:hover {
  background-color: #ddd;
}

/* Responsive design: Adjust font sizes and layout for smaller screens */
@media (max-width: 1024px) {
  .navbar {
    font-size: 25px;
    padding: 5px;
    top: 20px;
  }

  .nav-links {
    gap: 10px;
  }

  .nav-links li a {
    padding: 7px;
  }
}

@media (max-width: 768px) {
  .navbar {
    font-size: 20px;
    padding: 1px;
    top: 20px;
  }

  .nav-links {
    gap: 2px;
  }

  .nav-links li a {
    padding: 6px;
  }
}

@media (max-width: 430px) {
  .navbar {
    font-size: 18px;
    padding: 1px;
    top: 20px;
  }

  .nav-links {
    gap: 1px;
  }

  .nav-links li a {
    padding: 6px;
  }
}

@media (max-width: 375px) {
  .navbar {
    font-size: 15px;
    top: 8px;
  }

  .nav-links {
    gap: 8px;
  }

  .nav-links li a {
    padding: 1px;
  }

  .logo {
    height: 40px;
  }
}

.logo {
  height: 90px;
}