.reviews-background {
  background-position: center;
  background-size: cover; 
  height: 70vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  opacity: 100%;
}

.reviews-container{
  position: relative;
  z-index: 2;
  text-align: center;
  padding: calc(70px + 20px) 20px 20px; 
  padding: 20px;
  max-width: 90%;
  width: 600px;
}

.review-slide {
  padding: 10px;
}

.review-image {
  max-width: 100%;
  border-radius: 10px;
}

.review-page-header {
  margin-top:15px;
  font-size: 55px;
  margin-bottom: 20px;
}

/* Media Queries */
@media (max-width: 1024px) {
  .review-image {
    max-width: 100%;
  }
  .review-page-header {
    font-size: 45px;
  }
  .reviews-background{
    height: 55vh;
  }
  
}
