.reviews-background {
  background-position: center;
  background-size: cover; 
  height: 70vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  opacity: 100%;
}

.reviews-container{
  max-width: 90%;
  padding: 15px;
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 15px;
  width: 600px;
}

.review-slide {
  display: flex;
  align-items: center; /* Vertically aligns arrows with the image */
  justify-content: center; /* Centers the content */
  gap: 10px; /* Adds proportional spacing between arrows and the image */
  padding: 10px;
}

.review-arrow {
  font-size: 24px; /* Adjust size to be proportional to the image */
  cursor: pointer;
}

.review-image {
  max-width: 90%; /* Slightly smaller images */
  border-radius: 5px;
}

.review-heading{
  font-weight: bold;
  margin: 20px;
  font-size: 40px;
  text-underline-offset: 8px;
  text-align: center;
  padding-top: 20px;
}


/* Media Queries */
@media (max-width: 1024px) {
  .review-image {
    max-width: 85%; /* Slightly smaller for smaller screens */
  }
  .review-page-header {
    font-size: 45px;
  }
  .reviews-background{
    height: 55vh;
  }
  
}
