.bedroom-background {
    background-image: url('../../public/bedroom.jpg');
    background-position: center;
    background-size: cover; 
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 1px 1px 2px black;
    position: relative; 
}
  
  /* Dropdown button styles stay the same */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-button {
    background-color: transparent;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .dropdown-button:hover {
    background-color: transparent;
  }
  
  .dropdown-content {
    display: block;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
  }
  
  .dropdown-content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .dropdown-content li {
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    color: black;
  }
  
  .dropdown-content li:hover {
    background-color: #ddd;
  }
  