.contact-background {
    background-image: url('../../public/homepage.jpg');
    background-position: center;
    background-size: cover; 
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 1px 1px 2px black;
    position: relative;
  }

  form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgba(240, 241, 217, 0.2);
  }

  label {
    display: block;
    margin-bottom: 10px;
    color: #B85042;
  }

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0 20px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}
input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }

  .phone-link {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    margin-top: 20px;
}

.phone-link:hover {
    text-decoration: underline;
}