.kitchen-background {
  background-image: url("../../public/kitchen.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  text-shadow: 1px 1px 2px black;
}

.kitchen-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  pointer-events: none;
}

.sink-section,
.backsplash-section,
.faucet-section,
.door-section {
  z-index: 3; /* Ensuring these sections are above the overlay */
  display: flex;
  justify-content: center;
  align-items: center;
}

.sink-section {
  position: absolute;
  top: 55%;
  left: 85%;
}

.backsplash-section {
  position: absolute;
  top: 30%;
  left: 39%;
}

.faucet-section {
  position: absolute;
  top: 32%;
  left: 71%;
}

.kitchen-background .door-section {
  position: absolute;
  top: 32%;
  left: 7%;
}
