/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styles for the navbar */
.navbar {
    position: fixed;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    max-width: 70%;
    background-color: rgba(240, 241, 217, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    z-index: 100;
    font-size: 25px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* Hover effect for nav links */
.nav-links a:hover {
    color: #B85042;
}

/* Nav links styles */
.nav-links {
    list-style: none;
    display: flex;
    gap: 16px;
    margin: 5px;
    padding: 0;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

/* Individual nav link styles */
.nav-links li a {
    color:white;
    text-shadow: 1px 1px 2px black;
    text-decoration: none;
    padding: 8px;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .dropdown-content li {
    display: block;
  }
  
  .dropdown-content a {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
/* Responsive design: Adjust font sizes and layout for smaller screens */
@media (max-width: 1024px) {
    .navbar {
        width: 50%;
        font-size: 20px; 
        padding: 10px;
        top: 20px;
    }

    .nav-links {
        gap: 14px;
    }

    .nav-links li a {
        padding: 7px;
    }
}

@media (max-width: 768px) {
    .navbar {
        width: 60%;
        font-size: 15px;
        padding: 10px;
        top: 20px;
    }

    .nav-links {
        gap: 12px;
    }

    .nav-links li a {
        padding: 6px;
    }
}

.logo {
    position: fixed;
    top: -5px;
    left: -110px;
    width: 100px; 
    height: auto;
  }